
body{
  font-size:16px;
}

.light-color{
  background-color: #4f5b62 !important;
  color: white !important;
}

.bg-darker {
  background-color: #000a12 !important;
  color: white !important;
}
.table-subject {
    width: 67%;
}
.blog-header-logo.text-dark img {
  max-width: 200px;
}

.table-btn-col {
  width: 13%;
}

a{
  text-decoration: none !important;
}

p {
  margin-bottom: 0px !important;
}

.d-flex.align-items-center.justify-content-between.gx-5.table-title-box {
  margin: 20px 0px;
}

.article-list-box .badge.bg-primary.rounded-pill {
  margin-left: 10px;
}

.article-subject h1 {
  padding: 15px;
}

h1 {
  margin-bottom: 0px !important;
}


li.list-group-item.d-flex.justify-content-between.align-items-center {
  border: none;
}

.article-body {
  padding: 15px;
}

footer.container-xl {
  border-top: 2px solid #4f5b62;
  padding:15px;
}

span.badge.bg-primary.rounded-pill{
  background-color: #263238 !important;
}


body .bg-dark, .btn-dark {
  background-color: #263238!important;
}

h3,h1,td a, th {
  color: #000a12 !important;
}

.btn.btn-dark, a.btn.btn-dark:hover{
  color: white !important;
}

td{
  text-transform: capitalize;
}
.article-list-box.d-flex.justify-content-between {
  padding: 15px;
}

.coin-symbol img {
  width: 2em;
}

span#change-ratio {
  font-weight: 600;
}

h2, h3{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title-box img {
    max-width: 7rem;
  margin-left: 0.5rem;
}

.title-box p {margin-right: 0px;font-weight: 600;}

.light-font{
  color: #263238 !important;
}

.title-box a {
  font-weight: 600;
}